*
{
    padding: 0;
    margin: 0;
}


.carousel-control-prev
{
    background: none;
    border: none;
}

.carousel-control-next
{
    background: none;
    border: none;
}

.carousel-caption h1
{
    font-size: 50px;
    color: white;
    font-family: '';
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 45px;
    margin-left: -30px;
    font-family: 'Noto Sans', sans-serif;
    
}

.carousel-caption p
{
    font-size: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: -30px;
}

.paranew
    {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        font-size: medium;
        justify-content: center;
        margin-left: 1%;
        margin-right: 10%;
        margin-top: 35%;
    }

.para
{
    text-align: center;
    letter-spacing: 0px;
    color: grey;
    text-align: center;
    font-size: smaller;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10%;
    margin-top: -5%;
    
}

.lbl-fname
{
    
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 10%;
    margin-left: 57px;
    
}

.lbl-lname
{
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 5%;
    margin-left: 57px;
}

.lbl-ph
{
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 5%;
    margin-left: 57px;
}

.lbl-email
{
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 5%;
    margin-left: 57px;
}

.lbl-pass
{
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 5%;
    margin-left: 57px;
}

.txt-inp
{
    width: 70%;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #2B64B11F;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 57px;
}

.lbl-login
{

    text-align: center;
    letter-spacing: 0px;
    color: grey;
    text-decoration: none;
    margin-left: 43%;
    margin-top: 20px;   
    font-size: medium;
}

.btn-reg
{
    width: 70%;
    height: 46px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
    margin-top: 30px;
    margin-left: 57px;
    text-align: center;
}

.lbl-losspass 
{

    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    text-decoration: none;
    margin-left: 37%;
    margin-top: 18px;   
    font-size: small;
}

.lbl-ar
{
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    text-decoration: none;
    margin-left: 31%;
    margin-top: 10px;
    font-size: small;
}

a{
    font-size: small;
}

.lbl-privacy
{
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    text-decoration: none;
    margin-left: 40%;
    font-size: small;
    margin-top: 5%;
}


/* For Responsive Design */

@media only screen and (min-width: 360px) and (max-width: 767px){


    .carousel-caption h1
    {
        font-size: 50px;
        color: white;
        font-family: '';
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 45px;
        margin-left: -30px;
        font-family: 'Noto Sans', sans-serif;
        
    }

    .carousel-caption p
    {
        font-size: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-left: -30px;
    }

    .paranew
        {
            text-align: center;
            letter-spacing: 0px;
            color: #414141;
            font-family: 'Noto Sans', sans-serif;
            text-align: center;
            font-size: medium;
            justify-content: center;
            margin-left: 1%;
            margin-right: 10%;
            margin-top: 35%;
        }

    .para
    {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-align: center;
        font-size: smaller;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10%;
        margin-top: -5%;
        
    }

    .lbl-fname
    {
        
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 10%;
        margin-left: 57px;
        
    }

    .lbl-lname
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-ph
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-email
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-pass
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .txt-inp
    {
        width: 70%;
        height: 46px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #2B64B11F;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        margin-left: 57px;
    }

    .lbl-login
    {

        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-decoration: none;
        margin-left: 43%;
        margin-top: 20px;   
        font-size: medium;
    }

    .btn-reg
    {
        width: 70%;
        height: 46px;
        background: #F8863400 0% 0% no-repeat padding-box;
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 24px;
        margin-top: 30px;
        margin-left: 57px;
        text-align: center;
    }

    .lbl-losspass 
    {

        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 37%;
        margin-top: 18px;   
        font-size: small;
    }

    .lbl-ar
    {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 27%;
        margin-top: 10px;
        font-size: small;
    }

    a{
        font-size: small;
    }

    .lbl-privacy
    {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 40%;
        font-size: small;
        margin-top: 5%;
    }



}

@media only screen and (min-width: 768px) and (max-width: 1199px){


    .carousel-caption h1
    {
        font-size: 170%;
        color: white;
        font-family: '';
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 30px;
        margin-left: -40px;
        font-family: 'Noto Sans', sans-serif;
        
        
    }

    .carousel-caption p
    {
        font-size: 80%;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-left: -30px;
    }

    .paranew
        {
            text-align: center;
            letter-spacing: 0px;
            color: #414141;
            font-family: 'Noto Sans', sans-serif;
            text-align: center;
            font-size: medium;
            justify-content: center;
            margin-left: 1%;
            margin-right: 10%;
            margin-top: 35%;
        }

    .para
    {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-align: center;
        font-size: smaller;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10%;
        margin-top: -5%;
        
    }

    .lbl-fname
    {
        
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 10%;
        margin-left: 57px;
        
    }

    .lbl-lname
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-ph
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-email
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-pass
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .txt-inp
    {
        width: 70%;
        height: 46px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #2B64B11F;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        margin-left: 57px;
    }

    .lbl-login
    {

        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-decoration: none;
        margin-left: 43%;
        margin-top: 20px;   
        font-size: medium;
    }

    .btn-reg
    {
        width: 70%;
        height: 46px;
        background: #F8863400 0% 0% no-repeat padding-box;
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 24px;
        margin-top: 30px;
        margin-left: 57px;
        text-align: center;
    }

    .lbl-losspass 
    {

        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 37%;
        margin-top: 18px;   
        font-size: small;
    }

    .lbl-ar
    {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 32%;
        margin-top: 10px;
        font-size: small;
    }

    a{
        font-size: small;
    }

    .lbl-privacy
    {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 40%;
        font-size: small;
        margin-top: 5%;
    }



}

@media only screen and (min-width: 992px) and (max-width: 1199px){


    .carousel-caption h1
    {
        font-size: 170%;
        color: white;
        font-family: '';
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 30px;
        margin-left: -40px;
        font-family: 'Noto Sans', sans-serif;
        
        
    }

    .carousel-caption p
    {
        font-size: 80%;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-left: -30px;
    }

    .paranew
        {
            text-align: center;
            letter-spacing: 0px;
            color: #414141;
            font-family: 'Noto Sans', sans-serif;
            text-align: center;
            font-size: medium;
            justify-content: center;
            margin-left: 1%;
            margin-right: 10%;
            margin-top: 35%;
        }

    .para
    {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-align: center;
        font-size: smaller;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10%;
        margin-top: -5%;
        
    }

    .lbl-fname
    {
        
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 10%;
        margin-left: 57px;
        
    }

    .lbl-lname
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-ph
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-email
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-pass
    {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .txt-inp
    {
        width: 70%;
        height: 46px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #2B64B11F;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        margin-left: 57px;
    }

    .lbl-login
    {

        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-decoration: none;
        margin-left: 43%;
        margin-top: 20px;   
        font-size: medium;
    }

    .btn-reg
    {
        width: 70%;
        height: 46px;
        background: #F8863400 0% 0% no-repeat padding-box;
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 24px;
        margin-top: 30px;
        margin-left: 57px;
        text-align: center;
    }

    .lbl-losspass 
    {

        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 37%;
        margin-top: 18px;   
        font-size: small;
    }

    .lbl-ar
    {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 32%;
        margin-top: 10px;
        font-size: small;
    }

    a{
        font-size: small;
    }

    .lbl-privacy
    {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 40%;
        font-size: small;
        margin-top: 5%;
    }



}