.left-div {
    height: auto;
    width: 50%;
    margin-top:3%;
    margin-left: 55%;
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.img-left {
    border-radius: 100%;
    margin-left: 25%;
    align-content: center;
    margin-top: 20%;
    height:50%;
    width:50%;
}

.add-skills {
    width: 133px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #757575;
    border-radius: 24px;
    color: #757575;
}

    .add-skills:hover {
        border: 2px solid #F88634;
        background-color: #F88634;
    }

.save-btn {
    width: 133px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    color: #F88634;
    margin-left: 78%;
}

    .save-btn:hover {
        border: 2px solid #F88634;
        background-color: #F88634;
        color: white;
    }
.cancel-btn {
    width: 119px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #757575;
    border-radius: 24px;
    color: #757575;
}

.changepass-btn {
    top: 441px;
    left: 1037px;
    width: 189px;
    height: 48px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    color: #F88634;
}

    .changepass-btn:hover {
        border: 2px solid #F88634;
        background-color: #F88634;
        color:white;
    }

.change-link {
    border: none;
    background: none;
    text-decoration: none;
    margin-left: 25%;
    color: grey;
}

.left-box {
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.right-box {
    
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

.skills-box {
    
    margin-left: 2%;
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}
.skills
{
    color:grey;
    margin-top:0.5%;
    margin-bottom:0.5%;
    
}

.form-control {
    box-shadow: 0.97px 0.26px 3px #0000000D;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
}

/*add skills*/

.dual-list .list-group {
    max-height: 300px;
    overflow-y: auto;
}

.dual-list .btn {
    margin-bottom: 20px;
}

.dual-list .list-group-item {
    cursor: pointer;
}

    .dual-list .list-group-item.active {
        background-color: #007bff;
        color: #fff;
    }
