.mailpass3 {
    width: 90%;
    margin-top: 70%;
    margin-left: 12%;
}

.image {
    height: 100vh;
    object-fit: cover;
}

.lost1 {
    margin-top: 1%;
    text-align: center;
    font-size: 15px;
}

.acc1 {
    margin-top: 10%;
    font-size:medium;
    color:grey;

}

.privacy2 {
    margin-left: 67%;
    text-align: center;
    font-size: medium;
    color: grey;
    margin-top: -5%;
    
}

.form-label {
    margin-top: 5%;
    color: #414141;
    font-size: small;
}

.formcontrol {
    height: 5% !important;
}

.form-control1 {
    width: 80%;
    height: 30px;
}

@media screen and (min-width:360px) and (max-width:1200px) {
    .mailpass3 {
        width: 80%;
        margin-top: 1%;
        margin-left: 18%;
    }

    .formcontrol {
        height: 5%;
    }

    .lost1 {
        margin-top: -2%;
        text-align: center;
        font-size: small;
    }

    .privacy2 {
        margin-left: 2%;
        text-align: center;
        font-size: small;
        color: black;
        margin-top: 20%;
    }
}

@media screen and (min-width:1200px) and (max-width:1400px) {

    .mailpass3 {
        width: 80%;
        margin-top: -2%;
        margin-left: 18%;
    }

    .lost1 {
        margin-top: -2%;
        text-align: center;
        font-size: small;
    }

    .privacy2 {
        margin-top: -4%;
    }
}

@media screen and (min-width:1200px) and (max-width:1330px) {
    .privacy2 {
        display: none;
    }
}

@media screen and (min-width:1401px) and (max-width:1536px) {
    .lost1 {
        margin-top: -3%;
        text-align: center;
        font-size: small;
    }

    .mailpass3 {
        width: 80%;
        margin-top: -2%;
        margin-left: 18%;
    }

    .privacy2 {
        margin-top: -4%;
    }
}




{
    padding: 0;
    margin: 0;
}


.carousel-control-prev {
    background: none;
    border: none;
}

.carousel-indicators {
    visibility: hidden;
}

.carousel-control-next {
    background: none;
    border: none;
}

.carousel-img {
    height: 100vh;
    object-fit: cover;
}

.carousel-caption h1 {
    font-size: 50px;
    color: white;
    font-family: '';
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin-bottom: 45px;
    margin-left: -30px;
    font-family: 'Noto Sans', sans-serif;
}

.carousel-caption p {
    font-size: 15px;
    text-align: left;
    letter-spacing: 0px;
    color: #FFFFFF;
    margin-left: -30px;
}

.paranew {
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;
    font-size: medium;
    justify-content: center;
    margin-left: 1%;
    margin-right: 10%;
    margin-top: 35%;
}

.para {
    text-align: center;
    letter-spacing: 0px;
    color: grey;
    text-align: center;
    font-size: smaller;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10%;
    margin-top: -5%;
}

.lbl-fname {
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 10%;
    margin-left: 57px;
}

.lbl-lname {
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 5%;
    margin-left: 57px;
}

.lbl-ph {
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 5%;
    margin-left: 57px;
}

.lbl-email {
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 5%;
    margin-left: 57px;
}

.lbl-pass {
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    justify-content: center;
    padding-top: 5%;
    margin-left: 57px;
}

.txt-inp {
    width: 70%;
    height: 46px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 10px #2B64B11F;
    border: 1px solid #D9D9D9;
    border-radius: 3px;
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 57px;
}

.lbl-login {
    text-align: center;
    letter-spacing: 0px;
    color: grey;
    text-decoration: none;
    margin-left: 43%;
    margin-top: 20px;
    font-size: medium;
}

.btn-reg {
    width: 70%;
    height: 46px;
    background: #F8863400 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    color: #F88634;
    border-radius: 24px;
    margin-top: 30px;
    margin-left: 57px;
    text-align: center;
}

    .btn-reg:hover {
        background-color: #F88632;
        transition: 0.7s;
        border-color: #ff6a00;
        color: white;
    }

.lbl-losspass {
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    text-decoration: none;
    margin-left: 37%;
    margin-top: 18px;
    font-size: medium;
}

.lbl-ar {
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    text-decoration: none;
    margin-left: 33%;
    margin-top: 10px;
    font-size: medium;
}

a {
    font-size: medium;
}

.lbl-privacy {
    text-align: center;
    letter-spacing: 0px;
    color: #414141;
    text-decoration: none;
    margin-left: 40%;
    font-size: medium;
    margin-top: 5%;
}


/* For Responsive Design */

@media only screen and (min-width: 360px) and (max-width: 767px) {


    .carousel-caption h1 {
        font-size: 32px;
        color: white;
        font-family: '';
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 7px;
        margin-left: -30px;
        font-family: 'Noto Sans', sans-serif;
    }

    .carousel-caption p {
        font-size: 12px;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-left: -30px;
        margin-bottom: 5px;
    }

    .paranew {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        font-size: medium;
        justify-content: center;
        margin-left: 1%;
        margin-right: 10%;
        margin-top: 35%;
    }

    .para {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-align: center;
        font-size: smaller;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10%;
        margin-top: -5%;
    }

    .lbl-fname {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 10%;
        margin-left: 57px;
    }

    .lbl-lname {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-ph {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-email {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-pass {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .txt-inp {
        width: 70%;
        height: 46px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #2B64B11F;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        margin-left: 57px;
    }

    .lbl-login {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-decoration: none;
        margin-left: 43%;
        margin-top: 20px;
        font-size: medium;
    }

    .btn-reg {
        width: 70%;
        height: 46px;
        background: #F8863400 0% 0% no-repeat padding-box;
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 24px;
        margin-top: 30px;
        margin-left: 57px;
        text-align: center;
    }

    .lbl-losspass {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 37%;
        margin-top: 18px;
        font-size: small;
    }

    .lbl-ar {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 33%;
        margin-top: 10px;
        font-size: small;
    }

    a {
        font-size: small;
    }

    .lbl-privacy {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 40%;
        font-size: small;
        margin-top: 5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {


    .carousel-caption h1 {
        font-size: 40px;
        color: white;
        font-family: '';
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 7px;
        margin-left: -30px;
        font-family: 'Noto Sans', sans-serif;
    }

    .carousel-caption p {
        font-size: 15px;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-left: -30px;
        margin-bottom: 5px;
    }

    .paranew {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        font-size: medium;
        justify-content: center;
        margin-left: 1%;
        margin-right: 10%;
        margin-top: 35%;
    }

    .para {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-align: center;
        font-size: smaller;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10%;
        margin-top: -5%;
    }

    .lbl-fname {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 10%;
        margin-left: 57px;
    }

    .lbl-lname {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-ph {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-email {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-pass {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .txt-inp {
        width: 70%;
        height: 46px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #2B64B11F;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        margin-left: 57px;
    }

    .lbl-login {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-decoration: none;
        margin-left: 43%;
        margin-top: 20px;
        font-size: medium;
    }

    .btn-reg {
        width: 70%;
        height: 46px;
        background: #F8863400 0% 0% no-repeat padding-box;
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 24px;
        margin-top: 30px;
        margin-left: 57px;
        text-align: center;
    }

    .lbl-losspass {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 37%;
        margin-top: 18px;
        font-size: small;
    }

    .lbl-ar {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 35%;
        margin-top: 10px;
        font-size: small;
    }

    a {
        font-size: small;
    }

    .lbl-privacy {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 40%;
        font-size: small;
        margin-top: 5%;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {


    .carousel-caption h1 {
        font-size: 38px;
        color: white;
        font-family: '';
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        opacity: 1;
        margin-bottom: 7px;
        margin-left: -30px;
        font-family: 'Noto Sans', sans-serif;
    }

    .carousel-caption p {
        font-size: 13px;
        text-align: left;
        letter-spacing: 0px;
        color: #FFFFFF;
        margin-left: -30px;
        margin-bottom: 5px;
    }

    .paranew {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        text-align: center;
        font-size: medium;
        justify-content: center;
        margin-left: 1%;
        margin-right: 10%;
        margin-top: 35%;
    }

    .para {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-align: center;
        font-size: smaller;
        justify-content: center;
        margin-left: 10px;
        margin-right: 10%;
        margin-top: -5%;
    }

    .lbl-fname {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 10%;
        margin-left: 57px;
    }

    .lbl-lname {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-ph {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-email {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .lbl-pass {
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        justify-content: center;
        padding-top: 5%;
        margin-left: 57px;
    }

    .txt-inp {
        width: 70%;
        height: 46px;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #2B64B11F;
        border: 1px solid #D9D9D9;
        border-radius: 3px;
        text-align: left;
        letter-spacing: 0px;
        color: #414141;
        font-family: 'Noto Sans', sans-serif;
        margin-left: 57px;
    }

    .lbl-login {
        text-align: center;
        letter-spacing: 0px;
        color: grey;
        text-decoration: none;
        margin-left: 43%;
        margin-top: 20px;
        font-size: medium;
    }

    .btn-reg {
        width: 70%;
        height: 46px;
        background: #F8863400 0% 0% no-repeat padding-box;
        border: 2px solid #F88634;
        color: #F88634;
        border-radius: 24px;
        margin-top: 30px;
        margin-left: 57px;
        text-align: center;
    }

    .lbl-losspass {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 37%;
        margin-top: 18px;
        font-size: small;
    }

    .lbl-ar {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 32%;
        margin-top: 10px;
        font-size: small;
    }

    a {
        font-size: small;
    }

    .lbl-privacy {
        text-align: center;
        letter-spacing: 0px;
        color: #414141;
        text-decoration: none;
        margin-left: 40%;
        font-size: small;
        margin-top: 5%;
    }
}
