@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@*<div class="d-flex flex-row mb-3">
    <div class="p-2">
    <a class="nav-link" asp-action="PlatformLandingPage" asp-controller="Home">Home</a>
    </div>
    <div class="p-2">
    <a class="nav-link" asp-action="StoryListing" asp-controller="Home">Stories</a>
    </div>
    <div class="p-2">
    <a class="nav-link" asp-action="PrivacyPolicy" asp-controller="Home">Privacy</a>
    </div>

    <div class="p-2 justify-content-end">
    <a class="nav-link" asp-action="PrivacyPolicy" asp-controller="Home">Privacy</a>
    </div>


    </div>*@


@*<div class="d-flex">
  <div class="p-2 flex-fill">
      <div class="d-flex flex-row mb-3">
      <div class="p-2">
        <a class="nav-link" asp-action="PlatformLandingPage" asp-controller="Home">Home</a>
    </div>
    <div class="p-2">
        <a class="nav-link" asp-action="StoryListing" asp-controller="Home">Stories</a>
    </div>
    <div class="p-2">
        <a class="nav-link" asp-action="PrivacyPolicy" asp-controller="Home">Privacy</a>
    </div>
    </div>
  </div>

  <div class="p-2 flex-fill">
      <div class="d-flex flex-row-reverse">
    

    <div class="p-2 justify-content-end">

           <div class="nav-item dropdown" style="margin-right:15%; width:auto;">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: grey; ">

                            <button class="btn1 dropdown-toggle" style="width:100%; border: none; color: grey" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @ViewBag.fullname
                            </button>

                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="EditProfile">My Profile</a></li>

                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Timesheet">Volunteering Timesheet</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-controller="Home" asp-action="Logout">Logout</a></li>
                        </ul>
                    </div>
    </div>
      <div class="p-2 justify-content-end">
                            <img src="data:image;base64,@ViewBag.avatarimg" alt="" class="user-avatar">
       
    </div>
   </div>
  </div>
</div>*@

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

