@model CIPlatform.Entities.Models.RegistrationModel

@*@using CIPlatform.Models*@


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- css -->
    <link rel="stylesheet" href="~/css/registration.css">

    <!-- Bootstrap links -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <title>Registration</title>
</head>

<body>

    <div class="row" style="font-family: 'Noto Sans', sans-serif">

        <div class="col-lg-8 ">


            <!-- Carousel -->

            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                            aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        @{
                                if(ViewBag.bannerdata != null)
                                {
                                  foreach(var bannerimg in ViewBag.bannerdata){  
                                      if(@bannerimg.SortOrder == 1)
                                      {
                                <img src="~/NewFolder/@bannerimg.Image" class="d-block w-100 carousel-img" alt="...">
                                }
                                }
                                }
                                }
                                <div class="carousel-caption d-md-block">
                                    <h1>Sed ut perspiciatis unde omnis <br>
                                        iste natus voluptatem.
                                    </h1>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Integer volutpat ante nec mauris dictum consequat. Duis lacus sapien,
                                        scelerisque egestas consectetur at, malesuada sit amet tortor.
                                        Aliquam erat volutpat. Morbi in purus id lorem ornare suscipit vel
                                        et nunc. Proin tincidunt justo sem, sit amet pretium dui semper vitae.
                                        Curabitur mi urna, congue non eros a, posuere porttitor lectus.
                                        Proin tincidunt in ipsum ac lacinia. </p>
                                </div>

                        
                    </div>

                   <div class="carousel-item">
                                @{
                                if(ViewBag.bannerdata != null)
                                {
                                  foreach(var bannerimg in ViewBag.bannerdata){  
                                      if(@bannerimg.SortOrder == 3)
                                      {
                                <img src="~/NewFolder/@bannerimg.Image" class="d-block w-100 carousel-img" alt="...">
                                }
                                }
                                }
                                }
                                <div class="carousel-caption d-md-block">
                                    <h1>Sed ut perspiciatis unde omnis <br>
                                        iste natus voluptatem.
                                    </h1>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Integer volutpat ante nec mauris dictum consequat. Duis lacus sapien,
                                        scelerisque egestas consectetur at, malesuada sit amet tortor.
                                        Aliquam erat volutpat. Morbi in purus id lorem ornare suscipit vel
                                        et nunc. Proin tincidunt justo sem, sit amet pretium dui semper vitae.
                                        Curabitur mi urna, congue non eros a, posuere porttitor lectus.
                                        Proin tincidunt in ipsum ac lacinia. </p>
                                </div>
                            </div>

                            <div class="carousel-item">
                                @{
                                if(ViewBag.bannerdata != null)
                                {
                                  foreach(var bannerimg in ViewBag.bannerdata){  
                                      if(@bannerimg.SortOrder == 2)
                                      {
                                <img src="~/NewFolder/@bannerimg.Image" class="d-block w-100 carousel-img" alt="...">
                                }
                                }
                                }
                                }
                                <div class="carousel-caption d-md-block">
                                    <h1>Sed ut perspiciatis unde omnis <br>
                                        iste natus voluptatem.
                                    </h1>

                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                        Integer volutpat ante nec mauris dictum consequat. Duis lacus sapien,
                                        scelerisque egestas consectetur at, malesuada sit amet tortor.
                                        Aliquam erat volutpat. Morbi in purus id lorem ornare suscipit vel
                                        et nunc. Proin tincidunt justo sem, sit amet pretium dui semper vitae.
                                        Curabitur mi urna, congue non eros a, posuere porttitor lectus.
                                        Proin tincidunt in ipsum ac lacinia. </p>
                                </div>
                            </div>

                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden"></span>
                </button>
            </div>


        </div>
        <div class="col-xl-4 ">
            @using (Html.BeginForm("Registration", "Home", FormMethod.Post))
            {
                if (ViewBag.Status != null)
                {
                    if (ViewBag.Status == 1)
                    {
                        <br />
                        <span  class="alert alert-success">Registered Successfully</span>

                       
                    }
                    else if (ViewBag.Status == 0)
                    {
                        <br />
                        @*<span  class="alert alert-danger">Email Address already exists</span>*@
                        
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          Email Address already exists
                          @*<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>*@
                        </div>
                        
                    }
                }
                <form class="mailpass3" method="post">
                    <div class="mail">


                        <div class="pass">
                            <div>

                                <label asp-for="FirstName" class="form-label">First name</label>
                                <input asp-for="FirstName" type="text" placeholder="Enter your First Name" class="form-control">
                                <span asp-validation-for="FirstName" class="text-danger" style="font-size:12px;"></span>


                            </div>
                            <div>
                                <label asp-for="LastName" class="form-label">Last name</label>
                                <input asp-for="LastName" type="text" placeholder="Enter your Last Name" class="form-control">
                                <span asp-validation-for="LastName" class="text-danger" style="font-size:12px;"></span>
                            </div>
                            <div>
                                <label asp-for="PhoneNumber" class="form-label">PhoneNumber</label>
                                <input asp-for="PhoneNumber" type="tel" class="form-control" placeholder="Enter your Phone Number">
                                <span asp-validation-for="PhoneNumber" class="text-danger" style="font-size:12px;"></span>
                            </div>
                            <div>
                                <label asp-for="Email" class="form-label">Email address</label>
                                <input asp-for="Email" type="email" class="form-control" placeholder="Enter your Email address">
                                <span asp-validation-for="Email" class="text-danger" style="font-size:12px;"></span>
                            </div>
                            <div>
                                <label asp-for="Password" class="form-label">Password</label>
                                <input asp-for="Password" id="pass" type="password" class="form-control" placeholder="Enter your Password">
                                <span asp-validation-for="Password" class="text-danger" style="font-size:12px;margin-top:-2%;"></span>


                            </div>

                            <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
                            <input asp-for="ConfirmPassword" id="confirmpass" type="password" class="form-control" placeholder="Enter your Confirm Password">
                            <span asp-validation-for="ConfirmPassword" class="text-danger" style="font-size:12px;margin-top:-2%;"></span>

                        </div>
                    </div>
                    <button type="submit" class="btn-reg">Register</button>
                    <br>
                    <br>

                </form>
                <div class="lost1">

                    <a asp-controller="Home" class="lost1" asp-action="LostPass" style="color:grey;"><b>Lost your password?</b></a> <br>
                    <span class="acc1">Already registered? <a asp-controller="Home" asp-action="Index" style="color:#2B64B1">Login now</a></span><br>

                </div>
            }
        </div>
    </div>

    <div class="privacy2">
        <a asp-controller="Home"  asp-action="PrivacyPolicy" style="text-decoration:none; color:grey;">Privacy Policy</a>
    </div>
    </div>
    <script>

        //function Validate() {
        //    var password = document.getElementById("pass").value;
        //    var confirmPassword = document.getElementById("confirmpass").value;
        //    if (password != confirmPassword) {
        //        alert("Password do not match");
        //        return false;
        //    }
        //    return true;
        //}
        </script>

        <script>
    if ( window.history.replaceState ) {
        window.history.replaceState( null, null, window.location.href );
    }
</script>

</body>

</html>